* {
    font-family: 'Lora', serif;
}

body {
    display: flex;
    margin: 0px;
    height: 100dvh;
    width: 95dvw;
    flex-direction: column;
}

main {
    height: 100%;
    width: 100vw;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.sidebar {
    padding-top: 6dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
}

.fire {
    background-image:linear-gradient(maroon, red, orangered, orange, yellow);
}

.water {
    background-image: linear-gradient(#002D62, #0039a6, #1F75FE, #0CAFFF, #00BFFF);
}
.player-one, 
.player-two {
    color: white;
}

.player1-wins, 
.player2-wins {
    border: 2px solid black;
    height: 12dvh;
    background:transparent;
    color:white;
}

.game-board {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;   
}

.header {
    background-image: url(assets/istockphoto-457148881-612x612.jpg);
    background-size:cover;
    height: 50%;
    margin: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 8dvh;
}

h1 {
    background-color: black; 
    color: whitesmoke;
    font-size: xx-large;
    opacity: .85;
    border-radius: 5px;
    padding: 8px;
}

.board-grid {
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 0px;
    padding: 20px;
    background-color: black;
}

.box {
    color: white;
}

.box2 {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.box4 {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.box5 {
    border: 3px solid white;
}

.box6 {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.box8 {
    border-left: 3px solid white;
    border-right: 3px solid white;
 }