* {
    font-family: 'Lora', serif;
}

body {
    background-image: url();
    display: flex;
    margin: 0px;
    height: 97vh;
    width: 95vw;
    flex-direction: column;
}

main {
    height: 100%;
    width: 100vw;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.sidebar {
    padding-top: 6dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
}

.fire {
    background-image:linear-gradient(maroon, red, orangered, orange, yellow);
}

.water {
    background-image: linear-gradient(#002D62, #0039a6, #1F75FE, #0CAFFF, #00BFFF);
}
.player-one, 
.player-two {
    color: white;
}

.player1-wins, 
.player2-wins {
    border: 2px solid black;
    height: 12dvh;
    background:transparent;
    color:white;
}

.game-board {
    margin: 0px;
    border: 2px solid pink;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
   
}

h1 {
    background-color: black; 
    color: white;
    font-size: xx-large;
    background-image: url(assets/360_F_139224274_G5Ltki2396FHjGMJHRahmUjAD7NwA9RH.jpg);
    height: 50%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.board-grid {
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 0px;
    padding: 20px;
    background-color: black;
}

.box {
    color: white;
}